@model IEnumerable<RR_hookah.Models.ApplicationType>


<div class="container p-3" >
    <div class="row pt-4 pb-4">
        <div class="col-6">
            <h2 class="text-primary">Список Категорий</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">Создать ApplicationType</a>
        </div>
    </div>


    @if(Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>
                                Название Application Type
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var obj in Model)
                {
                        <tr>
                            <td width="50%">@obj.Name</td>
                            <td ></td>
                        </tr>
                }
                    </tbody>
                </table>
            }else
            {
                <p>No ApplicationType</p>
            }

</div>

