@model RR_hookah.Models.ViewModels.HomeVM

<div class="text-center">
    <h1 class="display-4 h1">Hookah Portal - <span>магазин кальянов и табаков</span></h1>
    <p>Мой GitHub <a href="https://github.com/FatB0YY">FatB0YY</a>.</p>
</div>

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach(var obj in Model.Categories)
            {
                <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ', '_').Replace('–', '_').Replace('%', '_')">@obj.Name</button>
            }
    </div>
    <br/>
    <div class="row">
        @foreach(var product in Model.Products)
            {
                // ссылка на отдельный компонент
                <partial name="_ProductItem" model="product" />
            }
    </div>
</div>

@section Scripts{ 
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');
                }
            });
        })
    </script>
}


